<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>this is view folder - index.html</p>
    <button  id="button">按钮</button>
    <script>
    var btn=document.getElementById('button');
    btn.onclick=function(){
        let xhr = new XMLHttpRequest();

        xhr.open('get', '/data', true);
        xhr.onload = function () {
                // console.log(this.readyState)//onload表示加载成功，它的状态只有4
                console.log(this.responseText);
            };

            xhr.send();
    }
    </script>
</body>
</html>
